<p>about works!</p>

<div class="sidenav">
    <!-- Sidebar Header-->
    
     <!-- Sidebar Navidation Menus-->
     <ul class="navbar-nav mr-auto">
         <br><br><br><br>
       <li class="nav-item active">
           
         <a class="nav-link" routerLink="/home-page" routerLinkActive="active"> | <i class="fas fa-home"></i> | Home
           <span class="sr-only">(current)</span>
         </a><hr>
       </li>
       <li class="nav-item">
         <a class="nav-link" routerLink="/market" routerLinkActive="active"> | <i class="fas fa-wallet"></i> | Get Quote</a>
       </li><hr>
       <li class="nav-item">
         <a class="nav-link" routerLink="/news" routerLinkActive="active">| <i class="far fa-chart-bar"></i> | Market</a>
       </li><hr>
       <li class="nav-item">
         <a class="nav-link" routerLink="/about" routerLinkActive="active"> | <i class="fas fa-book"></i> | About</a>
       </li><hr>
      
         
       
     </ul>
     
</div>

  <div class="container">
      <div class="row">
          <div class="col" id="b1"></div>
          <div class="col" id="b2">
              <p>A cryptocurrency (or crypto currency) is a digital asset designed to work as a medium of exchange wherein individual coin ownership records are stored in a ledger existing in a form of computerized database using strong cryptography to secure transaction records, to control the creation of additional coins, and to verify the transfer of coin ownership</p>
          </div>
      </div>
      <div class="row">
        <div class="col" id="b3">
            <p>It typically does not exist in physical form (like paper money) and is typically not issued by a central authority. Cryptocurrencies typically use decentralized control as opposed to centralized digital currency and central banking systems. When a cryptocurrency is minted or created prior to issuance or issued by a single issuer, it is generally considered centralized.</p>
        </div>
        <div class="col" id="b4"></div>
    </div>
  </div>