
<div class="sidenav">
    <!-- Sidebar Header-->
    
     <!-- Sidebar Navidation Menus-->
     <ul class="navbar-nav mr-auto">
         <br><br><br><br>
       <li class="nav-item active">
           
         <a class="nav-link" routerLink="/home-page" routerLinkActive="active"> | <i class="fas fa-home"></i> | Home
           <span class="sr-only">(current)</span>
         </a><hr>
       </li>
       <li class="nav-item">
         <a class="nav-link" routerLink="/market" routerLinkActive="active"> | <i class="fas fa-wallet"></i> | Get Quote</a>
       </li><hr>
       <li class="nav-item">
         <a class="nav-link" routerLink="/news" routerLinkActive="active">| <i class="far fa-chart-bar"></i> | Market</a>
       </li><hr>
       <li class="nav-item">
        <a class="nav-link"routerLink="/about" routerLinkActive="active">  | <i class="fas fa-book"></i> | About</a>
       </li><hr>
      
         
       
     </ul>
     
</div>

    
    <div class="container">
    <div class="row">
        <div class="col-lg-auto" id="select">
  
    <div class="card bg-info mb-3" style="max-width: 20rem;">
       
        <div class="card-body">
          <label>Choose crypto</label>
         
          <form (ngSubmit)='onSubmit()'>
    
            <div class="dropdown">
             
           
            <select name="coin" (change)="selectCoinHandler($event)">
            <option >select</option>
            <option value="bitcoin">Bitcoin</option>
            <option value="ethereum">Ethereum</option>
            <option value="litecoin">Litecoin</option>
            <option value="dash">Dash</option>
            <option value="dogecoin">Dogecoin</option>
            <option value="squarecoin">Squarecoin</option>
            <option value="ripple">Ripple</option>
            <option value="stellar">Stellar</option>
            </select>
            </div>
           
    
        <div class="form-group">
            <label>Choose currency</label>
            <select name="currency" (change)="selectCurHandler($event)">
            <option>select</option>
                <option value="usd">US Dollar</option>
                <option value="cad">Canadian Dollar</option>
                <option value="gbp">Briitish Pound</option>
                <option value="eur">Euro</option>
                <option value="aed">Dirham</option>
                <option value="rub">Rubble</option>
            </select>
        </div>
    
    
            <div class="form-group">
                <div class="btn-toolbar">
            <button type="submit" class="btn btn-light btn-sm">Get Quote</button>
            <button type="reset" class="btn btn-light btn-sm">Reset</button>
        </div>
            </div>
        </form>
        </div>
      </div>
    </div>

  <div class="col-sm">
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
      
        <div class="card-body">
          
          <div class="col">
            <h4 class="card-title"><i class="fas fa-coins" style="color:rgb(59, 59, 59);"></i></h4>
            <p style="font-family:Bungee Inline; color:rgb(59, 59, 59);">{{coin.toUpperCase()}}</p>
            
            </div>
        </div>
      </div>
   

  <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    
      <div class="card-body">
        
        <div class="col-sm">
          
          <h4 class="card-title"><i class="fas fa-wallet" style="color:rgb(59, 59, 59);"></i></h4>
          <p style="font-family:Bungee Inline ;color:rgb(59, 59, 59);">{{currency.toUpperCase()}}</p>
        
          </div>
      </div>
    </div>
 
   
  <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
    
      <div class="card-body">
        
        <div class="col-sm">
        
          <h4 class="card-title"><i class="fas fa-money-bill-wave" style="color:rgb(59, 59, 59);"></i></h4>
          <p style="font-family:Bungee Inline; color:rgb(59, 59, 59);">{{coins}}</p>
          </div>
      </div>
    </div>
 
</div>

    
    
    </div>
    </div>