<header class="header">
  <div id="vantajs">
    <nav>
        <a class="nav-brand" routerLink="/home-page"><h1>Crypto App<i class="fas fa-coins"></i></h1></a>
       
        <a class="nav-link" routerLink="/home-page" routerLinkActive="active">Home</a>
      
             
        <a class="nav-link" routerLink="/market" routerLinkActive="active">Get Quote</a>
           
         
              <a class="nav-link" routerLink="/news" routerLinkActive="active">Market</a>
           
       
              <!-- <a class="nav-link" routerLink="/sign-in"routerLinkActive="active">Sign In</a> -->
            
      
    </nav>
  </div>
</header>
