

<div class="container-main">
    <div id="vanta" style="min-width: 100%;">
    
   
    <div class="container-lg">
    <div class="row">
        <div class="col">
            <h1 class="display-1">The </h1>
            <h1 class="display-1">world's</h1>
            <h1 class="display-1">home for </h1>
            <h1 class="display-1">Crypto currency</h1>
        </div>
        <div class="col"></div>
        <div class="col">
            <p class="display-4" style="font-style: italic;">"Real estate and gold guys are being phased out"—and "the bitcoin world is coming into view right now."</p>
            <p class="display-4">Robert Kiyosaki</p>
            <p class="display-4">(Author of "Rich Dad Poor Dad")</p>
        </div>
    </div>

    <div class="row">
        <div class="col"><p class="info">A cryptocurrency (or crypto currency) is a digital asset designed to work as a medium of exchange wherein individual coin ownership records are stored in a ledger existing in a form of computerized database using strong cryptography to secure transaction records, to control the creation of additional coins, and to verify the transfer of coin ownership</p></div>
        <div class="col"><p class="info">It typically does not exist in physical form (like paper money) and is typically not issued by a central authority. Cryptocurrencies typically use decentralized control as opposed to centralized digital currency and central banking systems. When a cryptocurrency is minted or created prior to issuance or issued by a single issuer, it is generally considered centralized.</p></div>
        
    </div>
</div>
</div>
</div>
